.modal{

    position:fixed;

    inset:0;

    background:
    rgba(0,0,0,.5);

    display:flex;

    justify-content:center;

    align-items:center;

    z-index:999;
}

.hidden{

    display:none;
}

.modal-content{

    width:700px;

    background:white;

    padding:25px;

    border-radius:12px;
}

.modal-content form{

    display:grid;

    gap:10px;
}

.modal-content input,
.modal-content select{

    padding:10px;
}